@import "./Color.scss";

nav {
    width: 100%;
    padding: 1rem;
    font-weight: 500;
    font-size: 1.15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color: $first;
    top: 0;
    z-index: 10;


    h1 {
        text-transform: uppercase;
    }

    main {
        width: 70%;
        display: flex;
        justify-content: flex-end;


        a {
            color: $dark;
            margin: 1rem;
            font: 300 1.35rem $text2;
            transition: all 1s ease-in-out 1s cubic-bezier(0.5s 0.7s 0.9s 1s);

            &:hover {
                color: $third;
            }
        }
    }

}